@import url('./root_styles.css');
body{
    height: 100%;
}
a {
    text-decoration: none;
}
.main-section{
    padding-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-section > section{
    background-color: darkblue;
    padding: 20px 20px;
}
.left-side{
    padding-top: 15px;
    background-color: var(--dark-primary-color);
    height: 100%;
    width: 230px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 12px;
    transition: 160ms;
}
.left-side-button{
    height: 40px;
    width: 95%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.left-side-button:hover{
    cursor: pointer;
    background-color: var(--third-color);
}