@import url('./root_styles.css');


html{
    font-family: monospace, sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    margin-top: 50px;
    background: white;
}
/*.header-logo-container{
     background-color: yellow;
} */
header[class="h-main"]{
margin-top: -50px;
    margin-bottom: 100px;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 10px;
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;
    box-shadow: 0px 5px 10px rgb(0, 0, 0,0.2);
}
header[class="h-main"] a {
    color: black;
    text-decoration: none;
}
.header-right-nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.login-link, .updates-link{
    display: inline-block;
    background-color: rgba(0, 0, 29, 0.084);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
}
.login-link::after{
    content: '';
    width: 25px; 
    height: 25px;
    background-image: url('../media/icons/profile_icon.png');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.updates-link::after{
    content: '';
    width: 25px; 
    height: 25px;
    background-image: url('../media/icons/newsLetter_icon_feed.png');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.go-to-main-btn{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid darkblue; */
    background-color: transparent;
    color: darkblue;
    margin-top: 20px;
    margin-left: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.go-to-main-btn:hover{
    background-color: #252525;
    color: white;
    cursor: pointer;
}
#main-content{
    /* height: 3000px; */
}
.section-1{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    height: 150px;
    display: flex;
    justify-content: center;
}
.section-1-inner-container{
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section-1-inner-container > *{
    transition-property: flex;
    transition-duration: 1s;
    height: 100%;
    flex: 1 1 300px;
    position: relative;
    /* border: 1px solid black; */
}
.section-1-inner-container > * > h1{
    margin-top: 10px;
}
.section-1-inner-container > *:hover{
    flex-grow: 2;
    cursor: pointer;
}
.section-1-inner-container > .first{
    background-color: green;
}
.section-1-inner-container > .second{
    background-color: rgb(167, 167, 167);
}
.section-1-inner-container > .third{
    background-color: darkblue;
}
.section-1-box-title{
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 40px;
    max-width: 300px;
}
.section-1-box-buttom-right-title{
    color: white;
    width: 100px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.section-2{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.section-2-inner-container{
    height: 100%;
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2-inner-container > .text{
    background-color: var(--very-dark-third-color);
    /* padding: 30px; */
    padding: var(--general-padding);
    width: 200px;
    margin-left: 50px;
    color: white;
}



/* cards section */
.card {
    /* background-color: blue; */
    height: 100%;
    padding-bottom: 50px;
    background-color: rgb(237, 239, 244);
}
.card-title {
  font-size: 24px;
}
.card-subtitle {
  font-size: 16px;
  color: #999;
}
/* colors of cards section*/
.cc{
    background-color: #252525;
    color: white;
    font-weight: bolder;
    position: absolute;
    width: 95%;
    bottom: 10px;
    left: calc(2.5%);
}
.cc:hover{
    background-color: #f26522;
    color: white;
    font-weight: bolder;
}
/* CSS of the slide-show section*/
.banner_taital {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 4vw;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: 300ms;
    background-color: rgba(0, 0, 29, 0.608);
    backdrop-filter: blur(5px);
    min-height: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    border-bottom: 2px solid rgb(224, 224, 224);
}
.banner_taital:hover{
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 28, 0);
    border-radius: 10px;
    box-shadow: 0px 10px 0px rgb(255, 255, 255);
}
  .carousel-caption {
    padding: 0px !important;
    display: flex !important; 
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  .custom-slideshow-container-class{
    /* height: 410px;
    width: 100%; */
  }
.custom-slideshow-container-class .slideshow-img-container{
    height: 410px;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow-img-container img{
    width: 100%;
}
.carousel-item{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 410px;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    background-color: black;
}


  .invisible-clickable-slideshow-link-layer{
    /* background-color: rgba(255, 0, 0, 0.275); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 200ms;
    background: linear-gradient(transparent, transparent, rgb(0, 0, 20));
  }
  .invisible-clickable-slideshow-link-layer:hover{
    /* background-color: rgba(0, 0, 0, 0.352); */
    opacity: 0;
    cursor: pointer;
  }

/* footer */
footer{
    background-color:#252525;
  }

footer section div h6{
    font-weight: bolder;
    text-decoration: underline 1px ;
    text-underline-offset: 4px;

}
/* footer a:hover {
    color: orange;
  } */

/*  Faq section */
  #faq {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .accordion-button {
    background-color: #fff;
    color: #212529;
    border: 1px solid #dee2e6;
    border-radius: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    text-align: left;
  }
  
  .accordion-button:hover {
    background-color: #f8f9fa;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
  }
  
  .accordion-body {
    background-color: #fff;
    color: #212529;
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 0;
    font-size: 16px;
    padding: 20px;
  }
  
  .fas.fa-question-circle {
    color: #252525;
    font-size: 24px;
    margin-right: 10px;
  }

/*Article Section*/

  #latest-articles {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  #articles-container {
    margin-top: 30px;
  }
  
  .article {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
  }
  
  .article h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .article p {
    font-size: 16px;
    margin-bottom: 0;
  }

