main {
        height: 100vh;
        font-size: 15px;
        background-color: #E6E6E6;
}

.uf-form-signin {
    position: relative;
    top:50px;
    max-width: 380px;
    padding: 15px;
    margin: 0 auto;
    background-color:white;
    border: 1px solid #ccc;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
    
}

.uf-form-signin .text-center {
    margin-bottom: 2rem;
}

.uf-form-signin .uf-input-group {
    margin-bottom: 1.5rem;
}

.uf-form-signin .form-control {
    position: relative;}
    
.btn-cc{
    background-color:#252525;
}
.btn-cc:hover{
    background-color: #f26522;
    color: white;
}
small{
    font-size:15px
}
