@import url('./root_styles.css');


.top-title{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
  text-transform: capitalize;
}

.big-card {
  background-color: white;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid lightgray;
  border-bottom: 4px solid lightgray;
  transition: 200ms;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.big-card:hover{
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  background-color: rgb(226, 226, 226);

}
.big-card > .img-container{
  background-color: rgb(221, 221, 221);
  height: 100%;
  flex: 1 2 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img-container > img{
  width: 100%;
  aspect-ratio: 1 / 1;
}
.big-card > .txt-container{
  background-color: rgb(243, 243, 243);
  height: 100%;
  flex: 3 2 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.card-title{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 900;

}
.card-paragraph{
  overflow: hidden;
}